@import url('https://fonts.googleapis.com/css2?family=Cherry+Cream+Soda&display=swap');

body {
  background-color: rgb(26, 34, 29);
  font-size: 36px;
  padding: 20px;
  color: beige;
  font-family: 'Cherry Cream Soda', cursive;
}

.card__wrapper {
  border: 2px solid white;
  margin: 30px;
  border-radius: 16px;
  padding: 20px;
}

.title {
  color: yellowgreen;
}

.entry {
  color: rgb(100, 180, 169);
}

.input {
  margin: 30px
}