.image {
  margin: 50px;
  padding: 20px;
  box-shadow: 0px -20px 50px 20px;
  position: relative;
}
.image {
  animation-delay: -0.3s;
  animation-duration: 10s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-name: myframes;
  animation-timing-function: ease-in-out;
}
@keyframes myframes {
  0% {
    transform: rotate(120deg);
  }
  50% {
    transform: translatey(10%);
  }
  75% {
    transform: translatex(35%);
  }
  100% {
    transform: rotate(360deg);
  }
}
.climate {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}